:root {
  --brandColor: #2e2f42;
  --logoColor: #4d5ae5;
  --buttonColor: #e7e9fc;
  --socialColor: #f4f4fd;
  --linkColor: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* VISUALLY HIDDEN TEXT */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logoColor);
  margin-right: 76px;
  display: inline-block;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logoColor);
  display: inline-block;
}

.logo-studio {
  color: var(--brandColor);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

.logo-white-studio {
  color: #f4f4fd;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  color: var(--brandColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: inherit;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-studio,
.active-portfolio {
  position: relative;
  color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: inherit;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.active-studio::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  left: 0px;
  bottom: -1px;
  background: #404bbf;
  border-radius: 2px;
}

.active-portfolio::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 4px;
  left: 0px;
  bottom: -1px;
  background: #404bbf;
  border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.address {
  margin-left: auto;
}

.contacts {
  font-style: normal;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  /* Для плавного изменения цвета текстового контента */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  /* Для плавной смены цвета фона элементов */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
}

.main-page-blocks-text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brandColor);
  margin-bottom: 8px;
}

.blocks-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  /* width: 264px; */
}

.fourth-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--brandColor);
  margin-bottom: 72px;
}

.names-of-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brandColor);
  text-align: center;
  margin-bottom: 8px;
}

.rank-of-team {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}

.footer-right-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-section {
  background-color: var(--brandColor);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-flex-cnt {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-social {
  width: 40px;
  height: 40px;
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid var(--buttonColor);
  color: var(--logoColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  /* Для плавных изменений характеристик */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.button:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

/* Блоковая модель */

img {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header-boarder {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.flex-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.first-section {
  display: block;
  max-width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-color: #2e2f42;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-flex {
  display: flex;
  gap: 24px;
}

.second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.second-section-list {
  /* аналог width */
  /* flex-basis: calc((100% - 24px * 3) / 4); */
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.third-section {
  padding-bottom: 120px;
}

.third-section-list {
  display: flex;
  gap: 24px;
}

.third-section-items {
  /* аналог width */
  flex-basis: calc((100% - 24px * 3) / 3);
}

.fourth-section-list {
  display: flex;
  gap: 24px;
}

ul.fourth-section-list > li {
  /* аналог width */
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
}

.name-and-rank {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-items {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--logoColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Для плавной смены цвета фона элементов */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
  fill: var(--socialColor);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.portfolio-hover {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.show-hide-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--socialColor);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overflow {
  position: relative;
  overflow: hidden;
}

.portfolio-hover:hover .show-hide-text,
.portfolio-hover:focus .show-hide-text {
  transform: translateY(0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-hover:hover,
.footer-hover:focus {
  background-color: #31d0aa;
}

.fifth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.fifth-section-list {
  display: flex;
  gap: 24px;
}

.fifth-section-items {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.fifth-section-links {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--linkColor);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-section-links:hover,
.fifth-section-links:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.social-svg {
  fill: currentColor;
}

.footer-logo-additional {
  margin-bottom: 16px;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

ul.portfolio-buttons > li {
  margin-right: 24px;
}

ul.portfolio-buttons > li:last-child {
  margin-right: 0px;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-gallery-item {
  width: calc((100% - 24px * 2) / 3);
}

.photo-description {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

/* Затемненный фон на весь вьюпорт при активации модальки */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Моделька не активна и прозрачна, пока ее не активирует кнопка героя */
.is-hidden {
  /* Прозрачность */
  opacity: 0;
  visibility: hidden;
  /* Курсор не будет реагировать на нажатие (pointer-event: none */
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* Задает анимационный эффект для изменения значений свойств стиля */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
}

.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  /* Задает анимационный эффект для изменения значений свойств стиля */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.model-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brandColor);
  margin-top: 48px;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
}

.modal-input:focus {
  color: var(--logoColor);
}

/* Делает фокус на соседа (заливка цветом), поэтому svg должна стоять после input */
/* Если бы svg стоял перед input, тогда необходимо обращаться к контейнеру-родителю с помощью: .modal-wrap-cnt:focus-within .modal-icon {fill}; Этот тэг (:focus-within) может работать на не интерактивных элементах, внутри которых есть интерактивные */

.modal-input:focus + .modal-icon {
  fill: var(--logoColor);
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--linkColor);
  display: block;
  margin-bottom: 4px;
}

.modal-wrap-cnt {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-label-text::placeholder {
  color: var(--linkColor);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  opacity: 0.5;
}

.modal-wrap-cnt:nth-child(4) {
  margin-bottom: 16px;
}

.modal-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  /* Убирает функцию у пользователя расширять поле ввода */
  resize: none;
}

.privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--linkColor);
  display: flex;
  margin-bottom: 24px;
}

.privacy-link {
  display: block;
  margin-left: 3px;
}

.privacy-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-check:checked + .privacy-text span {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 2px;
  fill: var(--socialColor);
}

/* .privacy-text::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.privacy-check:checked + .privacy-text::before {
  background-image: url(../images/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 2px;
} */

.social-media-cnt {
  margin-right: 80px;
}

.subscribe-input {
  height: 40px;
  min-width: 264px;
  background-color: var(--brandColor);
  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

.subscribe-input::placeholder {
  color: #ffffff;
  letter-spacing: 0.04em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 23px;
  text-align: left;
  position: relative;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-svg {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 320px;
    margin: 0;
  }

  .second-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .text-flex {
    display: block;
    gap: none;
  }

  .svg-container {
    display: none;
  }

  .main-page-blocks-text-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }

  .blocks-text {
    font-weight: 500;
    max-width: 428px;
    margin-bottom: 72px;
    text-align: center;
  }

  .third-section {
    display: none;
  }

  .fourth-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .fourth-section-list {
    flex-direction: column;
    gap: 0;
  }

  .fourth-section-item {
    margin-bottom: 72px;
  }

  .fourth-section-item:last-child {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    /* Задаю 100% чтобы фото не были больше, чем родитель - li */
  }
}
